/*!*****************************************************************
Theme Name: BERC DEV
Theme URI: http://pixelpress.co/, http://ethicalux.com
Author: EUX, Pixelpress
Author URI: http://pixelpress.co/, http://ethicalux.com
Version: 1.0
Description: Bootstrap based theme for 2015 KAIROS Canada website(s)
Tags: html5, bootstrap, css3, development
Template: kairos_eux
*/

/* QUICK FIX OR COUREPRESS PRO WHITE TEX */

.label {

	color: #4a372f !important;

}
footer#footer h1{
	margin-top: 0px;
}
footer#footer p{
	margin-bottom: 1em;
	text-transform: uppercase;
}
.page-template-pt-resource .hero.promo .bg{
	top:-50px;
}
.page-template-pt-lessons .posts .row,
.page-template-pt-resource .posts .row{
	background-color: #f0eff5;
	margin-bottom:10px;
	overflow: hidden;
    position: relative;
}
.page-template-pt-lessons .flex-video.widescreen {
    margin-bottom: 0;
   padding-bottom: 70%;
}
.tags{
	overflow: hidden;
	margin: 10px 0 20px;
}
.tags a {
	float:left;
	display:block;
	padding: 5px 10px;
	background-color: #e1e1eb;
	border-radius: 2px;
	border: 1px solid #c6c6d2;
	margin-right: 3px;
	font-weight: bold;
	text-transform: uppercase;
	color: #66688f;
}
@media (min-width: 768px){
	*.cssmask .page-template-pt-resource  .hero.promo {
  		padding: 22px 0 88px;
	}
	.page-template-pt-lessons .posts .row .col-md-5 img,
	.page-template-pt-resource .posts .row .col-md-4 img{
		margin-left:-15px;
		margin-bottom: 0px;
		box-shadow: none;
		vertical-align: middle;
	}
}